@charset "ISO-8859-1";

body{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color:white;
	background-color:black;
	
}

.submit{
	background-color:blue;
	color:white;
	
}
